# Files, directories or patterns that should be excluded from Git tracking

# General stuff

# Python compiled files
*.pyc

# Actual project folders and files

# Temp stuff
temp/

# Local settings
local.settings.json

# Virtual enviroment
.venv/

# Big files
db.sqlite3
