# General stuff to ignore

# Ignore exe files
*.exe

# Ignore java class files
*.class

# Ignore scala TASTy (Typed Abstract Syntax Trees) files
*.tasty

## Python compiled files
*.pyc

## Program Database files
*.pdb

## sqlite3 databases
*.sqlite3

# Actual project folders and files to ignore

## Virtual enviroment folder
.venv/

## VS code configuration files
.vscode/