# Files, directories or patterns that should be excluded from the Docker build

# General stuff

# Python compiled files
*.pyc

# Actual project folders and files

# Temp stuff
temp/

# Virtual enviroment
.venv/
